<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.roman.recommend.mapper.ActionScoreMapper">

	<select id="select" parameterType="java.lang.Short" resultType="double">
		select action_score from rm_action_score where action_id = #{actionId}
	</select>
	
</mapper>
